# **Task 4.8**

## Step 1. Importing Libraries and Data

### 1.1 Importing Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

### 1.2 Importing Data

In [2]:
# Creating a path to main project folder
path = r'C:\Users\jboer\OneDrive\Documents\Career Foundry\Instacart Basket Analysis'

In [3]:
# Importing orders_products_agg.pkl file
ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_agg.pkl'))

## Step 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [4]:
# Grouping data by "department_id" and using "agg()" to obtain mean values of "order_number" column
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Step 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset?

##### The results for the entire dataframe have increased for some department IDs and decreased for others. This is expected because with the increased number of values being calculated, you're bound to have different results that a subset. However, I did notice that the mean values from the subset and the entire dataframe were all within about 1 of each other. Which tells me that you can get a fairly accurate statistical analysis with a subset as you would the entire dataframe.

## Step 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

#### **NOTE** I already completed this during the exercise and exported the data set, which is what I imported at the beginning of this task. So, I copied the code I used here but did not run any of it, except the checks.

In [ ]:
# Grouping "user_id" column, applying transform() on "orders_number" column to get max orders, and creating new column "max_order"
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [ ]:
# Creating "Loyal customer" condition based off of "max_order" column
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [ ]:
# Creating "Regular customer" condition based off of "max_order" column
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [ ]:
# Creating "New customer" condition based off of "max_order" column
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
# Checking frequency of "loyalty_flag" column
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

## Step 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [6]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer

In [27]:
# Performing multiple aggregations to check basis statistics of each loyalty category
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'sum', 'median']})

                    prices
                      mean          sum median
loyalty_flag
Loyal customer    7.773020   79938463.6    7.4
New customer      7.800408   48705670.3    7.4
Regular customer  7.797540  123799791.6    7.4

##### The min and max price of products purchased is the same across all loyalty levels. The average price of products purchased across loyalty levels is within 3 cents of each other and even still, the "loyal customers" on average purchase products that are cheaper than the other two loyalty groups.

## Step 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

    If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
    If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [11]:
# Grouping "user_id" column, applying transform() on "prices" column to get average amount spent, and creating new column "avg_spent"
ords_prods_merge['avg_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\jboer\AppData\Local\Temp\ipykernel_31124\3527374426.py:2: FutureWarning: The provided callable <function mean at 0x00000196C6AACE00> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [12]:
# Checking dataframe for new "avg_spent" column
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,...,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,...,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797

In [13]:
# Creating "Low spender" condition based off of "avg_spent" column
ords_prods_merge.loc[ords_prods_merge['avg_spent'] < 10, 'spending_flag'] = 'Low spender'

In [14]:
# Creating "High spender" condition based off of "avg_spent" column
ords_prods_merge.loc[ords_prods_merge['avg_spent'] >= 10, 'spending_flag'] = 'High spender'

In [16]:
# Checking frequency of "spending_flag" column
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     32285165
High spender      119694
Name: count, dtype: int64

In [17]:
# Checking dataframe for new "spending_flag" column
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent,spending_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,...,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,...,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender

## Step 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

    If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
    If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
    If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [18]:
# Grouping "user_id" column, applying transform() on "days_since_prior_order" column to get median amount of days since prior order, and creating new column "median_order_frequency"
ords_prods_merge['median_order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\jboer\AppData\Local\Temp\ipykernel_31124\1570057622.py:2: FutureWarning: The provided callable <function median at 0x00000196C6BD7A60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [19]:
# Checking dataframe for new "median_order_frequency" column
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent,spending_flag,median_order_frequency
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,...,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,...,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0

In [20]:
# Creating "Non-frequent customer" condition based off of "median_order_frequency" column
ords_prods_merge.loc[ords_prods_merge['median_order_frequency'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [21]:
# Creating "Regular customer" condition based off of "median_order_frequency" column
ords_prods_merge.loc[(ords_prods_merge['median_order_frequency'] > 10) & (ords_prods_merge['median_order_frequency'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [22]:
# Creating "Frequent customer" condition based off of "median_order_frequency" column
ords_prods_merge.loc[ords_prods_merge['median_order_frequency'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [23]:
# Checking frequency of "order_frequency_flag" column
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        22796659
Regular customer          6921472
Non-frequent customer     2686728
Name: count, dtype: int64

In [24]:
# Checking dataframe for new "order_frequency_flag" column
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent,spending_flag,median_order_frequency,order_frequency_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [25]:
# Checking shape of dataframe
ords_prods_merge.shape

(32404859, 24)

## Exporting Dataframe

In [26]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_agg_final.pkl'))